.background {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgba(0,0,0,0.8);
}

.disabled {
  display: none;
}

.popup_window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background-color: #eee;

  // padding-bottom: 15px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #eee;
  font-size: 3rem;
}

.chat {
  padding: 15px 15px;
  margin-bottom: 10px;
  height: 100%;
  overflow-y: auto;
}