.box {
  max-width: 70%;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  color: #eee;
  text-wrap: wrap;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.user {
  background-color: #ff4410;
  margin-left: auto;
}

.bot {
  background-color: #757575;
}