nav {
  width: 100%;
  display: flex;
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 28px;
  padding: 0;
  margin-bottom: 0;
}