.container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(255, 68, 16);
  width: 64px;
  height: 64px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;

  transition: all 0.1s ease;

  font-weight: 800;
  color: #eee;
  font-size: 1.5rem;
}

.container:hover {
  transform: scale(1.1);
  background-color: rgb(255, 86, 39);
}

.disabled {
  display: none;
}